@page
@using TheForum.NET.Areas.Identity.Pages.Account
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


  <div class="container-fluid" id="main-container">
  <div class="container-fluid" id="breadcrumb">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb bread-style align-text-bottom">
      <li class="breadcrumb-item bread-item">
        <a  asp-page="/Home/Index" class="text-decoration-none text-dark"
          ><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="breadcrumb-item bread-item active" aria-current="page">
        Login
      </li>
    </ol>
  </nav>
      </div>


<div class="row">
    <div class="col-9">
      <h2 class="text-center mt-5 bg-info rounded border border-dark p-3 text-white">Create a new account</h2>
	   <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
	    <div asp-validation-summary="ModelOnly" class="text-danger h3"></div>
		 <div class="form-group">
        <label class="h3" asp-for="Input.FirstName">First Name</label>
        <input type="text"  asp-for="Input.FirstName" class="form-control w-25" autocomplete="firstname" aria-required="true" aria-describedby="firstname" placeholder="Enter First Name" required>
		  <span asp-validation-for="Input.FirstName" class="text-danger h3"></span>
      </div>
	  <div class="form-group">
        <label class="h3" asp-for="Input.LastName">Last Name</label>
        <input type="text"  asp-for="Input.LastName"class="form-control w-25" autocomplete="lastname" aria-required="true" aria-describedby="lastname" placeholder="Enter Last Name" required>
		  <span asp-validation-for="Input.LastName" class="text-danger h3"></span>
      </div>
	   <div class="form-group">
        <label class="h3" asp-for="Input.UserName">Username</label>
        <input type="text"  asp-for="Input.UserName" class="form-control w-25" autocomplete="username" aria-required="true" aria-describedby="username" placeholder="Enter username" required>
		  <span asp-validation-for="Input.UserName" class="text-danger h3"></span>
      </div>
	   <div class="form-group">
        <label class="h3" asp-for="Input.ProfilePicture">First Name</label>
        <input  type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Input.ProfilePicture"
                       class="form-control w-25"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])">
		  <span asp-validation-for="Input.ProfilePicture" class="text-danger h3"></span>
      </div>
	   <div class="form-group">
        <label class="h3" asp-for="Input.Signature">Signature</label>
        <input type="text"  asp-for="Input.Signature" class="form-control w-25" autocomplete="Signature" aria-required="true" aria-describedby="Signature" placeholder="Enter Signature">
		  <span asp-validation-for="Input.Signature" class="text-danger h3"></span>
      </div>
	   <div class="form-group">
        <label class="h3" asp-for="Input.Email">Email</label>
        <input type="text"  asp-for="Input.Email"  class="form-control w-25" autocomplete="Email" aria-required="true" aria-describedby="email" placeholder="Enter Email" required>
		  <span asp-validation-for="Input.Email" class="text-danger h3"></span>
      </div>
	  <div class="form-group">
        <label class="h3" asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password"  class="form-control w-25" autocomplete="Password" aria-required="true" aria-describedby="password"  autocomplete="new-password" placeholder="Enter Password">
		  <span asp-validation-for="Input.Password" class="text-danger h3"></span>
      </div>
	   <div class="form-group">
        <label class="h3" asp-for="Input.ConfirmPassword">Confirm Password</label>
        <input  asp-for="Input.ConfirmPassword"  class="form-control w-25" autocomplete="Password" aria-required="true" aria-describedby="password"  autocomplete="new-password" placeholder="Confirm Password" required>
		  <span asp-validation-for="Input.ConfirmPassword" class="text-danger h3"></span>
      </div>
	   <button id="registerSubmit" type="submit"  class="btn btn-primary mt-5 w-25 h2">Register</button>
	   </form>
       </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
